apiVersion: v2
name: istiod
version: 1.28.3-bb.0
appVersion: 1.28.3
description: Helm chart for istio control plane
icon: https://istio.io/latest/favicons/android-192x192.png
keywords:
  - istio
  - istiod
  - istio-discovery
sources:
  - https://github.com/istio/istio
dependencies:
  - name: istiod
    repository: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    alias: upstream
  - name: bb-common
    version: 0.13.0
    repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/passthrough: "true"
  bigbang.dev/passthrough-toplevel-key: upstream
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Istio: 1.28.3
  helm.sh/images: |
    - name: pilot
      image: registry1.dso.mil/ironbank/opensource/istio/pilot:1.28.3
    - name: proxyv2
      image: registry1.dso.mil/ironbank/opensource/istio/proxyv2:1.28.3
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://istio.io/latest/news/releases)
